body{
    background-color: bisque;
 }
 .center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 800px; */
    background-color:rgb(219, 219, 100);
  
    border-radius: 10px;
    /* margin: 15%; */
    /* margin-top: 15%; */
    height: 75%;
  }
  form {
    width: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    background-color: beige;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  .center_text{

    font-size: 25px;
    
  }
  #logo {
    border-radius: 15px;
  }
  input{
    width: 50%;
    border-radius: 5px;
 
  }
  .moverInput input{
    margin-bottom:  20px;
    height: 20px;
  }


#volver {
  border: 1px solid black;
  background-color:rgb(180, 180, 79);
  margin: 10px;
  padding: 5px;
  color: blue;
  border-radius: 5px;
 
}

a {
  text-decoration: none;
}